<div class="filter text-center mt-5">
    <label class="radio-inline mr-3"><input type="radio" name="optradio" checked value="characters"
            [(ngModel)]="selected"> Characters</label>
    <label class="radio-inline mr-3"><input type="radio" name="optradio2" value="monsters" [(ngModel)]="selected">
        Monsters</label>
</div>
<div class="input-group inputSearch">
    <input type="search" class="form-control rounded" placeholder="Input your Character" aria-label="Search"
        aria-describedby="search-addon" #searchInput name="serachInput" id="searchInput" />
    <button (click)="searchData()" class="btn btn-primary"><i class="bi bi-search"></i></button>
</div>
<div class="alert alert-warning text-center mt-3" *ngIf="showAlert">
    <h6><i class="bi bi-cone-striped"></i> You have not selected characters or monsters in the top bar of the text box,
        please select characters or monsters below !!! <i class="bi bi-cone-striped"></i></h6>
</div>
<div class="alert alert-danger text-center mt-3" *ngIf="showErr">
    <h6><i class="bi bi-x-circle-fill"></i> Results not Found for {{term}}!!! <i class="bi bi-x-circle-fill"></i></h6>
</div>