<div class="filter text-center mt-5">
    <label class="radio-inline mr-3"><input type="radio" name="optradio" checked value="characters"
            [(ngModel)]="selected"> Characters</label>
    <label class="radio-inline mr-3"><input type="radio" name="optradio2" value="monsters" [(ngModel)]="selected">
        Monsters</label>
</div>
<div class="input-group inputSearch">
    <input type="search" class="form-control rounded" placeholder="Input your Character" aria-label="Search"
        aria-describedby="search-addon" #searchInput name="serachInput" id="searchInput" />
    <button (click)="searchData()">Search</button>
</div>